/* ===================================Google Fonts CSS====================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ===================================Google Fonts CSS====================================== */

/* ===================================Common CSS====================================== */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
nav,
footer,
section {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: center;
}

/* ===================================Common CSS====================================== */

/* ===================================root CSS====================================== */
:root {
    --primaryColor: #1C1E53;
    --secondaryColor: #F4F6FC;
    --whiteColor: #FFFFFF;
    --fontColor: #282938;
    --blueColor: #2405F2;
    --yellowColor: #FCD980;
    --poppins: "Poppins", sans-serif;
}

/* ===================================root CSS====================================== */

body {
    font-family: var(--poppins);
}

/* ===================================Navbar CSS====================================== */
.ourCustomClass {
    background-color: var(--primaryColor);
    padding: 16px 0;
}

.customMenuClass {
    margin-right: 32px;
    color: #BBBBCB;
    transition: all linear 0.3s;
}

.customMenuClass:hover {
    color: var(--whiteColor);
}

.customNavbarBtn {
    margin-left: 16px;
    padding: 16px 48px;
    border-radius: 41px;
    background-color: transparent;
    border: 2px solid #F4F6FC33;
    font-size: 16px;
    font-weight: 500;
    color: var(--whiteColor);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.customNavbarBtn:hover {
    background-color: var(--yellowColor);
    color: var(--fontColor);
}

/* ===================================Navbar CSS====================================== */

/* ===================================banner CSS====================================== */
#banner {
    background-color: var(--primaryColor);
    padding: 128px 0;
}

.banner__heading-title {
    color: var(--whiteColor);
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
}

.banner__heading-description {
    margin-top: 24px;
    color: var(--whiteColor);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.7;
    margin-bottom: 48px;
}

.banner__btn-left {
    margin-left: 0;
}

/* ===================================banner CSS====================================== */

/* ===================================features__brand CSS====================================== */
#features__brand{
    padding: 128px 0;
    background-color: var(--whiteColor);
}
/* ===================================features__brand CSS====================================== */

/* ==============================working__brand CSS================================== */
#working__team{
    background-color: var(--whiteColor);
}
.benefits__heading{
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: var(--fontColor);
}
.solveProblem__card {
    background-color: var(--secondaryColor);
    padding: 48px 44px 48px 48px;
    width: 405px;
}

.solveProblem__card-icon {
    color: var(--blueColor);
    font-size: 34px;
}

.solveProblem__card-title {
    font-weight: 500;
    font-size: 24px;
    color: var(--fontColor);
    margin-top: 23px;
    margin-bottom: 12px;
}

.solveProblem__card-summary {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--fontColor);
    opacity: 0.7;
}
/* ==============================working__brand CSS================================== */

/* ==============================Features__client CSS================================== */
#features__client{
    padding: 128px;
    background-color: var(--whiteColor);
}
#features__revision{
    padding: 128px;
    background-color: var(--secondaryColor);
}
#features__support{
    padding: 128px;
    background-color: var(--whiteColor);
}
#features__delivary{
    padding: 128px;
    background-color: #FCD9801A;
}

.customMission{
    display: flex;
    flex-direction: column;
    gap: 96px;
}
.mission__title{
    max-width: 624px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: var(--fontColor);
}
.mission__heading{
    max-width: 624px;
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    color: var(--fontColor);
    padding: 16px 0;
}
.mission__summary{
    max-width: 624px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--fontColor);
    opacity: 0.7;
}

/* ==============================Features__client CSS================================== */

/* ===================================FAQ CSS====================================== */
#faq {
    padding: 128px 0;
    background-color: var(--whiteColor);
}

.faq__heading-title {
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    color: var(--fontColor);
}

.faq__link {
    font-size: 18px;
    font-weight: 500;
    color: var(--blueColor);
}

.faq__number {
    color: var(--blueColor);
    font-size: 24px;
    font-weight: 500;
    padding-right: 16px;
}

.faq__question {
    font-weight: 500;
    font-size: 24px;
    color: var(--fontColor);
}

.faq__answer {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: var(--fontColor);
    opacity: 0.87;
    padding-left: 41px;
    padding-right: 25%;
}

.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: url("https://cdn-icons-png.flaticon.com/512/262/262038.png");
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("https://cdn-icons-png.flaticon.com/512/262/262038.png");
    transform: rotate(45deg);
}

/* ===================================FAQ CSS====================================== */

/* =================================Footer CSS====================================== */
#footerPart {
    padding-top: 96px;
    background-color: var(--primaryColor);
}

.footerPart__summary {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--whiteColor);
    opacity: 0.8;
    max-width: 400px;
    padding-top: 22px;
    padding-bottom: 86px;
}

.footerPart__contactInfo {
    background-color: var(--yellowColor);
    max-width: 517px;
    padding: 17px 137px 16px 37px;
}

.footerPart__contactInfo-mail-heading,
.footerPart__contactInfo-phone-heading {
    font-weight: 500;
    font-size: 18px;
    color: var(--fontColor);
    line-height: 32px;
}

.footerPart__contactInfo-mail-address,
.footerPart__contactInfo-phone-number {
    font-weight: 400;
    font-size: 16px;
    color: var(--fontColor);
    line-height: 28px;
    opacity: 0.8;
}

.footerPartRight__heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: var(--whiteColor);
}

.footerPartRight__description {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--whiteColor);
    opacity: 0.8;
    max-width: 400px;
    padding-top: 14px;
    padding-bottom: 28px;

}

.footerPartRight__icons {
    display: flex;
    color: var(--whiteColor);
    font-size: 16px;
    gap: 27px;
}

.footer--icon {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.footer--icon:hover {
    color: var(--yellowColor);
}

/* ===================================FooterCSS======================================*/

/* ===================================CopyRightCSS======================================*/
#copyRight {
    padding: 32px 0;
}

.copyRight__title,
.copyRight__nav-list li a {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--fontColor);
}

.copyRight__nav-list {
    gap: 32px;
}

.copyRight__nav-list li {
    transition: 0.3s ease-in-out;
}

.copyRight__nav-list li:hover a {
    color: var(--blueColor);
}

/* ===================================CopyRightCSS======================================*/

