/* ===================================Google Fonts CSS====================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ===================================Google Fonts CSS====================================== */

/* ===================================Common CSS====================================== */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
nav,
footer,
section {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: center;
}

/* ===================================Common CSS====================================== */

/* ===================================root CSS====================================== */
:root {
    --primaryColor: #1C1E53;
    --secondaryColor: #F4F6FC;
    --whiteColor: #FFFFFF;
    --fontColor: #282938;
    --blueColor: #2405F2;
    --yellowColor: #FCD980;
    --poppins: "Poppins", sans-serif;
}

/* ===================================root CSS====================================== */

body {
    font-family: var(--poppins);
}

/* ===================================Navbar CSS====================================== */
.ourCustomClass {
    background-color: var(--primaryColor);
    padding: 16px 0;
}

.customMenuClass {
    margin-right: 32px;
    color: #BBBBCB;
    transition: all linear 0.3s;
}

.customMenuClass:hover {
    color: var(--whiteColor);
}

.customNavbarBtn {
    margin-left: 16px;
    padding: 16px 48px;
    border-radius: 41px;
    background-color: transparent;
    border: 2px solid #F4F6FC33;
    font-size: 16px;
    font-weight: 500;
    color: var(--whiteColor);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.customNavbarBtn:hover {
    background-color: var(--yellowColor);
}

/* ===================================Navbar CSS====================================== */

/* ===================================blogHero CSS====================================== */
#blogHero{
    padding-top: 128px;
    background-color: var(--whiteColor);
}

.blogHeroWrapper__title{
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: var(--fontColor);
    max-width: 949px;
}
.blogHeroWrapper__status{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: var(--fontColor);
    padding-top: 16px;
    padding-bottom: 32px;
}
.blogHeroWrapper__status--name{
    opacity: 0.87;
}

/* ===================================blogHero CSS====================================== */

/* ===================================readBlogContent CSS====================================== */
#readBlogContent{
    background-color: var(--whiteColor);
}

.readBlogContentWrapper{
    max-width: 842px;
    padding-top: 48px;
    padding-bottom: 128px;
}
.readBlogContentWrapper__heading{
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    color: var(--fontColor);
}
.readBlogContentWrapper__summary, .readBlogContentWrapper__items{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--fontColor);
    opacity: 0.7;
}
.readBlogContentWrapper__items{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-position: outside;
    padding-left: 1rem;
}
.readBlogContentWrapper__items li{
    list-style-type: disc;
    padding-left: 7px;
}
.customPad--1{
    padding-top: 32px;
    padding-bottom: 40px;
}
.customPad--2{
    padding-top: 32px;
    padding-bottom: 24px;
}
.customPad--3{
    padding-top: 24px;
    padding-bottom: 32px;
}
.customPad--4{
    padding-top: 56px;
    padding-bottom: 32px;
}
/* ===================================readBlogContent CSS====================================== */


/* =================================Footer CSS====================================== */
#footerPart {
    padding-top: 96px;
    background-color: var(--primaryColor);
}

.footerPartWrapper__summary {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--whiteColor);
    opacity: 0.8;
    max-width: 400px;
    padding-top: 22px;
    padding-bottom: 86px;
}

.footerPartWrapperContactInfo {
    background-color: var(--yellowColor);
    max-width: 517px;
    padding: 17px 137px 16px 37px;
}

.footerPartWrapperContactInfoMail__heading,
.footerPartWrapperContactInfoPhone__heading {
    font-weight: 500;
    font-size: 18px;
    color: var(--fontColor);
    line-height: 32px;
}

.footerPartWrapperContactInfoMail__address,
.footerPartWrapperContactInfoPhone__number {
    font-weight: 400;
    font-size: 16px;
    color: var(--fontColor);
    line-height: 28px;
    opacity: 0.8;
}

.footerPartRight__heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: var(--whiteColor);
}

.footerPartRight__description {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--whiteColor);
    opacity: 0.8;
    max-width: 400px;
    padding-top: 14px;
    padding-bottom: 28px;

}

.footerPartRight__icons {
    display: flex;
    color: var(--whiteColor);
    font-size: 16px;
    gap: 27px;
}

.footer--icon {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.footer--icon:hover {
    color: var(--yellowColor);
}

/* ===================================FooterCSS======================================*/

/* ===================================CopyRightCSS======================================*/
#copyRight {
    padding: 32px 0;
}

.copyRight__title,
.copyRight__nav-list li a {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--fontColor);
}

.copyRight__nav-list {
    gap: 32px;
}

.copyRight__nav-list li {
    transition: 0.3s ease-in-out;
}

.copyRight__nav-list li:hover a {
    color: var(--blueColor);
}

/* ===================================CopyRightCSS======================================*/